header{
    background: black;
    color: white;
}

hgroup{
    text-align: center;
}

.img-curiosity{
    width: 500px;
    display:block;
    margin:auto;
}

.img-perseverance{
    width: 500px;
    display:block;
    margin:auto;
}